<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="autoclicker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <autoclicker.My.MySettings>
            <setting name="hotkey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="effects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clickInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="scrollInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="selectedMode" serializeAs="String">
                <value>left</value>
            </setting>
        </autoclicker.My.MySettings>
    </userSettings>
</configuration>